<!--<table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">-->
<!--  <thead>-->
<!--  <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">-->
<!--    <th scope="col">#</th>-->
<!--    <th scope="col">Título</th>-->
<!--    <th scope="col">Descripción</th>-->
<!--    <th scope="col">Destinatario</th>-->
<!--    <th scope="col">Criterio mínimo</th>-->
<!--    <th scope="col">Criterio máximo</th>-->
<!--    <th scope="col">Acciones</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->

<!--  <tr *ngFor="let encuesta of dataSourceUser.data; let i = index" class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">-->
<!--    <th scope="row">{{ i + 1 }}</th>-->
<!--    <td>{{ encuesta.titulo }}</td>-->
<!--    <td>{{ encuesta.descripcion }}</td>-->
<!--    <td>{{ encuesta.destinatario }}</td>-->
<!--    <td>{{ encuesta.ponderacion_baja }}</td>-->
<!--    <td>{{ encuesta.ponderacion_alta }}</td>-->
<!--    <td>-->
<!--      <button [hidden]="encuesta.deleted_at || encuesta.id == 1" type="button" (click)="editEncuesta(encuesta.id)" mat-icon-button matTooltip="Editar encuesta">-->
<!--        <mat-icon class="small-icon">create</mat-icon>-->
<!--      </button>&nbsp; &nbsp;-->

<!--      <button [hidden]="encuesta.id == 1" type="button" (click)="deleteEncuesta(encuesta)" mat-icon-button [matTooltip]=" encuesta.deleted_at ? 'Activar' : 'Eliminar'">-->
<!--        <mat-icon class="small-icon">{{ encuesta.deleted_at ? 'check' : 'delete' }}</mat-icon>-->
<!--      </button>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr *ngIf="dataSourceUser.data.length === 0">-->
<!--    <td colspan="7" class="text-center">No se encontraron registros.</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
