<!--begin::Form-->
<div class="bg-white">
  <div class="mat-elevation-z21 p-4 custom-container">

    <form class="form w-100 " [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
          (ngSubmit)="submit()">

      <div class="text-center mb-4">
        <h1 class=" fw-bolder mb-2">
          <img alt="Logo" src="./assets/media/logos/logo_gastigantto_footer.png" style="width: 50%;"/>
        </h1>
        <div class="text-gray-500 fw-semibold fs-6">Acceder a gastiganto</div>
      </div>

      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            The login details are incorrect
          </div>
        </div>
      </ng-container>

      <div class="centered-container">
        <div class="fv-row  w-40">
          <label class="form-label fs-6 fw-bolder text-gray-900">Correo</label>
          <input class="form-control bg-transparent" type="email" name="email" formControlName="email"
                 autocomplete="off"
                 />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Este campo es requerido',
        control: loginForm.controls['email']
      }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Formato inválido',
        control: loginForm.controls['email']
      }"></ng-container>
        </div>
      </div>

      <div class="centered-container mb-8">
        <div class="fv-row w-40">
          <label class="form-label fw-bolder text-gray-900 fs-6 mb-0">Contraseña</label>
          <div class="position-relative mb-3">
            <input
              [type]="isPasswordVisible ? 'text' : 'password'"
              class="form-control bg-transparent"
              formControlName="password"
              placeholder=""
              name="password"
              autocomplete="off"
            />
            <span
              class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
              (click)="togglePasswordVisibility()"
              [attr.data-kt-password-meter-control]="isPasswordVisible ? 'hidden' : 'visibility'"
            >
        <i class="ki-duotone ki-eye-slash fs-1" *ngIf="!isPasswordVisible">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </i>
        <i class="ki-duotone ki-eye fs-1" *ngIf="isPasswordVisible">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span>
        </i>
          </span>
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'La contraseña es requerida',
        control: loginForm.controls['password']
      }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'La contraseña debe tener más de 3 caractéres',
        control: loginForm.controls['password']
      }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'La contraseña no debe ser mayor a 100 caractéres',
        control: loginForm.controls['password']
      }"></ng-container>
        </div>
      </div>
      <div class="centered-button-container">
        <div class=" fv-row d-grid w-40">
          <button type="submit" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="loginForm.invalid">
            <ng-container *ngIf="isLoading$ | async">
          <span class="indicator-progress" [style.display]="'block'">
            Espera...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
            </ng-container>
            <ng-container *ngIf="(isLoading$ | async) === false">
              <span class="indicator-label">Iniciar sesión</span>
            </ng-container>
          </button>
        </div>
      </div>
    </form>

    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
        </div>
      </ng-container>
    </ng-template>
  </div>

</div>
