<ngb-toast
  class="bg-gastiganto text-light"
  *ngFor="let toast of toastService.toasts"
  [delay]="toast.delay || 5000">

  <ng-template ngbToastHeader>
    <div class="me-auto">
      <strong>
				<span style="color: black;">
					<i *ngIf="!toast.success" class="fa fa-exclamation-triangle fa-bounce"></i>
					<i *ngIf="toast.success" class="fas fa-check-circle fa-bounce"></i>
          {{ toast.header }}
				</span>
      </strong>
    </div>
  </ng-template>
  {{ toast.body }}
</ngb-toast>
