/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";


.header {
  background-color: #1d3b6c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
}

//list
.header-buttons .custom-button {
  color: white;
  background-color: #1B84FF;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.header-buttons .custom-button:hover {
  background-color: #b0bec5;
}

.table-container-wrapper mat-table {
  border-collapse: collapse;
}

.table-container-wrapper mat-header-cell,
.table-container-wrapper mat-cell {
  border-bottom: 1px dashed rgba(226, 226, 226, 0.9);
  padding: 8px;
}


//edit
.header-buttons-edit .custom-button-edit {
  background-color: #1B84FF!important;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}


.header-buttons-edit .custom-button-edit:hover {
  background-color: #b0bec5!important;

}


.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}
